.App {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background: #111111;
    text-align: center;
    color: white;
}

.albumAnchor, .artistAnchor {
    text-decoration: none;
    color: white;
}