#newReleases, #recents, #topArtists, #topTracks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    background: #111111;
    color: white;
}

.libraryAlbum, .artist {
    font-size: 13px;
    border-radius: 15px;
    padding: 20px;
    background: #282828;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 145px;
    height: 225px;
    overflow: hidden;
}


#homeDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 45px;
}

.albumImg {
    width: 135px;
    height: 135px;
    object-fit: cover;
}
