#homeDiv {
    display: grid;
    grid-template-columns: 1fr 7fr;
    background: #111111;
    text-align: center;
    color: white;
}

.artist, .track {
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
    background: #282828;
    margin: 5px;
}

#newReleases, #recents, #topArtists, #topTracks {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#homeComponents {
    margin: 10px;
}

h2 {
    margin-top: 45px;
}