#library {
    display: flex;
    flex-direction: column;
}

#libraryPlaylists, #libraryArtists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    background: #111111;
    color: white;
}

.libraryPlaylist {
    font-size: 13px;
    border-radius: 15px;
    padding: 20px;
    background: #282828;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 145px;
    height: 225px;
    overflow: hidden;
}

.libraryPlaylist > p, .artistName, .artistTag {
    text-align: left;
}

.playlistName, .artistName {
    font-weight: bold;
}

.playlistOwner, .artistTag {
    color: #b4b4b4;
    font-size: 12px;
}

.playlistImg {
    width: 135px;
    height: 135px;
    object-fit: cover;
}

