#library {
    display: flex;
    flex-direction: column;
}

#libraryPlaylists, #libraryArtists, #libraryAlbums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    background: #111111;
    color: white;
}

.libraryPlaylist, .libraryAlbum {
    font-size: 13px;
    border-radius: 15px;
    padding: 20px;
    background: #282828;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 145px;
    height: 225px;
    overflow: hidden;
}

.libraryPlaylist > p, .artistName, .artistTag, .libraryAlbum > p {
    text-align: left;
}

.playlistName, .artistName, .albumName {
    font-weight: bold;
}

.playlistOwner, .artistTag, .albumArtist {
    color: #b4b4b4;
    font-size: 12px;
}

.playlistImg, .albumImg {
    width: 135px;
    height: 135px;
    object-fit: cover;
}

