#nav {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background: #030303;
    grid-column: 1 / 2;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 23px;
    margin-right: 15px;
    padding-top: 35px;
}

#nav > a {
    margin: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#nav > a:hover {
    font-size: 26px;
}

#nav > .active {
    color: #1DB954;
}