nav {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background: #030303;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

a {
    margin: 25px;
    text-decoration: none;
}

a:hover {
    font-size: 26px;
}

a:visited {
    color: white;
}